
#friends, #friends li { list-style-image : 	none; list-style-position : outside; list-style-type : decimal; }

#friends{   }
#friends li{ text-align:left;border:2px solid #fff; }
#friends li.hover{ border:2px solid #dafecf; cursor:pointer; }
#friends li.selected{ border:2px solid #ff8040; }
#friends li h4{ font-size:12px;cursor:pointer; }
#friends li b{ margin-left:40px; color:#ff8040; }

#transfer{ width:300px; margin:0 auto; }
#transfer p{ margin:5px 0px; text-align:center; }

fieldset{ border: 1px solid #ccc; padding: 0 40px; }
