#header{ height:30px; background:#fceeda; line-height:30px; }


#award{ text-align:center; }


#mleft{ width:400px; float:left; height:400px; }

#mright{ width:550px; float:left; height:400px; background:#ffff00; }



#footer{ text-align:center; border-top:1px solid #F0F0F0; background:#F9F9F9;width:100%; padding:10px; }


