
#award{ text-align:center; }
#award a{ line-height:0px; }

#mleft{ width:400px; float:left; height:400px; }

#mright{ width:550px; float:left; height:400px; background:#DAFECF; }

.list { height:200px; }
.list thead td{ height:25px; line-height:25px; text-align:center; background:#dafecf; font-size:14px; font-weight:bold; color:#777; }
.list tbody td{ height:20px; line-height:20px; padding:0 10px; text-align:center; }


